    <div class="col-md-4">
      <ol class="breadcrumb">
        <li><%= link_to "トップページ", root_path %></li>
        <li class="active">マイページ</li>
      </ol>
      <div class="profile"><%= gravatar_for @user %><span><%= @user.username %>様</span></div>
      
      <!--フォロー数、フォロワー数表示-->
      <%= render 'users/shared/follow_followed_count' %>
      
      <div class="follow_button">
      <% if user_signed_in? %>
        <%= render 'users/shared/follow_form' %>
      <% end %>
      </div>
      
      <div class="list-group">
        <a href="#" class="list-group-item active">メニュー</a>
        <%= link_to "成績登録", new_record_path(current_user), class:"list-group-item" %>
        <%= link_to "成績検索", records_path(current_user), class:"list-group-item" %>
        <%= link_to "友達検索", users_path(current_user), class:"list-group-item" %>
        <%= link_to "登録情報変更", edit_user_registration_path(current_user), class:"list-group-item" %>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">選手プロフィール</div>
        <div class="panel-body">
          <ul class="player_profile_rayout">
            <li>選手名：<%= @user.playername %></li>
            <li>チーム名：<%= @user.team %></li>
            <li>ポジション：<%= @user.position %></li>
            <li>年齢：<%= @user.age %>歳</li>
          </ul>
        </div>
      </div>
    </div>