    <div class="col-md-4">
      <div class="profile"><%= gravatar_for @user %><span><%= @user.username %>様</span></div>
      <ol class="breadcrumb">
        <li><%= link_to "トップページ", root_path %></li>
        <li class="active">マイページ</li>
      </ol>
      
      <div>
      <% if user_signed_in? %>
        <%= render 'users/shared/follow_form' %>
      <% end %>
      </div>
      
      <div class="list-group">
        <a href="#" class="list-group-item active">メニュー</a>
        <%= link_to "成績登録", new_record_path(current_user), class:"list-group-item" %>
        <%= link_to "成績検索", records_path(current_user), class:"list-group-item" %>
        <a href="#" class="list-group-item">友達検索</a>
        <%= link_to "登録情報変更", edit_user_registration_path(current_user), class:"list-group-item" %>
      </div>
      
      <div class="panel panel-primary">
        <div class="panel-heading">選手プロフィール</div>
        <div class="panel-body">
          <div class="col-xs-3">
            <img src="http://lorempixel.com/100/100/city" alt="プロフィール写真" class="img-circle">
          </div>
          <div class="col-xs-9 player_profile_rayout">
            <ul>
              <li>選手名：<%= @user.playername %></li>
              <li>チーム名：<%= @user.team %></li>
              <li>ポジション：<%= @user.position %></li>
              <li>年齢：<%= @user.age %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>