<% if user_signed_in? %>
  <div class="row">

    <%= render 'users/shared/mypage_sidemenu' %>
    
    <div class="col-md-8">
      <h2><%= @title %> (<%= @user.follower_users.count %>)</h2>
      <p class="text-center">あなたのことをフォローしているユーザーの一覧です。</p>
      <% if @user.follower_users.any? %>
        <ol class="friends_list">
          <%= render 'list', users: @users %>
          <% else %>
          <%= @message %>
        </ol>
      <% end %>
    </div>
  </div>
<% else %>
  ログインして
<% end %>