  <div class="row">

    <%= render 'users/shared/mypage_sidemenu' %>
    
    <div class="col-md-8">
      <div class="row">
        <h1 class="balloon-1-bottom">友達検索</h1>
        
        <div class="panel panel-default">
        <div class="panel-heading"></span>条件検索</div>
          <div class="panel-body">
            
              <div class="row mb20">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="">お名前</label>
                    <div class="col-sm-8">
                      <%= search_form_for @q do |f| %>
                      <%= f.search_field :username_cont, class: 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="">地域</label>
                    <div class="col-sm-8">
                      <%= f.search_field :area_cont, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-12 row text-center">
                <%= f.submit '検索する', class:"btn btn-primary btn-lg" %>
                <% end %>
              </div>
            </div>
          </div>        
          </div>
        
        <!--<table class="table table-bordered table-striped">
          <tr class="info">
            <th>お名前</th>
          </tr>
        
        <%# @users.each do |user| %>
          <tr>
            <td><%#= user.username %></td>
          </tr>
        <%# end %>
        </table>-->
      </div>
    </div>
  </div>