<% if user_signed_in? %>
  <div class="row">

    <%= render 'users/shared/mypage_sidemenu' %>
    
    <div class="col-md-8">
      
      <h1 class="well well-lg"><%= @user.playername %>のデータ</h1>
           
      <h2>生涯成績累計</h2>
      <table class="table">
        <thead>
          <tr>
            <th>出場試合数</th>
            <th>出場試合時間</th>
            <th>得点数</th>
            <th>アシスト数</th>
            <th>イエローカード</th>
            <th>レッドカード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.records.count %>試合</td>
            <td><%= @sum_participation_time %>時間</td>
            <td><%= @sum_goal %>得点</td>
            <td><%= @sum_assist %>アシスト</td>
            <td><%= @sum_redcard %>枚</td>
            <td><%= @sum_yellowcard %>枚</td>
          </tr>
        </tbody>
      </table>
  
      <h2>2015年成績累計</h2>
      <table class="table">
        <thead>
          <tr>
            <th>出場試合数</th>
            <th>出場試合時間</th>
            <th>得点数</th>
            <th>アシスト数</th>
            <th>イエローカード</th>
            <th>レッドカード</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><%= @user.records.count %>試合</td>
            <td><%= @sum_participation_time %>時間</td>
            <td><%= @sum_goal %>得点</td>
            <td><%= @sum_assist %>アシスト</td>
            <td><%= @sum_redcard %>枚</td>
            <td><%= @sum_yellowcard %>枚</td>
          </tr>
        </tbody>
      </table>

      <h2>フォローリスト</h2>
      <div class="row">
        <% if @user.following_users.any? %>
        <div class="col-xs-6 col-md-3">
          <%= render 'mypage_top_list', users: @users %>
        </div>
        <% end %>
      </div>
    
    </div>
  <% else %>
  <p><%= @message %></p>
<% end %>
</div>