  <div class="row">

    <%= render 'users/shared/mypage_sidemenu' %>
    
    <div class="col-md-8">
      <div class="row">
        <h1 class="balloon-1-bottom">成績検索</h1>
        <table class="table table-bordered table-striped">
          <tr class="info">
            <th>日付</th>
            <th>対戦相手</th>
            <th>スコア</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        
        <% @records.each do |record| %>
          <tr>
            <td><%= record.date %></td>
            <td><%= record.opponent_team %></td>
            <td><%= record.score %></td>
            <td><%= link_to '詳細', record_path(record) %></td>
            <td><%= link_to '編集', edit_record_path(record) %></td>
            <td><%= link_to '削除', record, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>